.container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-bottom: 10px;
}
button{
    padding: 5px;
    border-radius: 5%;
    border: 1px solid cadetblue;
    transition: 0.3s;
    font-size: large;
}
button:hover{
    background-color: rgb(5, 58, 60);
    color: white;
    border: 1px solid white;
    transition: 0.3s;
    transform: scale(1.1);
    cursor: pointer;
}